<h1>Editing payment req</h1>

<%= render "form", payment_req: @payment_req %>

<br>

<div>
  <%= link_to "Show this payment req", @payment_req %> |
  <%= link_to "Back to payment reqs", payment_reqs_path %>
</div>
